/*@font-face {
    font-family: mantekaFont;
    src: url(manteka.woff); to be fixed
} */





h1{
    text-transform: uppercase;
    font-family: 'manteka','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* background color : rgb 190 46 71 */ 

section{
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(190, 46, 71);
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: space-around;  */
}

img{
    width: 100%;
    height: 100%;
}

.bg-mosaique{
    background: url("media/background+header/background.png") no-repeat;
    background-size: 100% 100%;
    
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    background-image : url("media/background+header/background.png");
}

.footerLogo{
    font-size: 155px;
}

.logo{
    max-height: 7%;
    max-width: 7%;
}

.color-navbar{
    background-color: rgb(190, 46, 71);
}